.layoutBody {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: auto;
  border-color: rgb(233, 8, 8) ;
  background: inherit;
    
}

.linkPlanes {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;             
    height: auto; 
        
    
       
}

.linkPlanes:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

#aviacao{
    background: -webkit-linear-gradient(rgb(250, 250, 4),rgb(255, 255, 0),orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: auto;
    animation: rotateHorizontal 3s infinite linear;
}

@keyframes rotateHorizontal {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(180deg); /* Meio do giro */
    }
    100% {
      transform: rotateX(360deg); /* Finaliza o giro completo */
    }
  }

  #plane{
    width: 100%;
height: auto;
max-width: 60vw;
max-height: 40vh;
object-fit: contain;
  }
